.kentucky {
  margin: auto;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Centra horizontalmente los hijos */
  width: 984px;
}

.kentucky__image {
  width: 984px;
  height: 615px;
  margin: 0 auto;
}

.kentucky__title {
  color: white;
  margin-top: 20px; /* Espacio entre imagen y texto */
  width: 830px; /* Igual que la imagen */
  font-size: 54px;
  font-weight: bold;
  font-family: "inter", sans-serif;
  margin-top: 100px;
}
.kentucky__text {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  width: 738px; /* Igual que la imagen */
  font-family: "inter", sans-serif;
}
.kentucky__autor {
  color: white;
  font-size: 24px;
  font-family: "inter", sans-serif;
  display: block;
  text-align: right;
  margin-bottom: 30px;
}
.kentucky__descrition {
  width: 722px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: "inter", sans-serif;
}

/* Estilos base: desktop (1280px en adelante) */

/* Tablet: menor a 1280px */
@media (max-width: 1279px) and (min-width: 768px) {
  /* Estilos para tablets */
  .kentucky {
    width: 768px;
  }
  .kentucky__image {
    width: 768px;
    height: 480px;
    margin: 20px auto;
  }
  .kentucky__title {
    margin-top: 20px; /* Espacio entre imagen y texto */
    width: 707px;
    font-size: 45px;
    margin-left: 24px;
    margin-top: 60px;
  }
  .kentucky__descrition {
    width: 720px;
  }
}

/* Móvil: menor a 768px */
@media (max-width: 767px) {
  /* Estilos para móviles */
}
