.places {
  width: 987px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Tablet: menor a 1280px */
@media (max-width: 1279px) and (min-width: 768px) {
  /* Estilos para tablets */
  .places {
    width: 100%;
    margin: 0;
  }
}

/* Móvil grande: menor o igual a 768px hasta 320px */
@media (max-width: 767px) {
  /* Estilos para móviles grandes */
  .places {
    width: 320px;
    margin: 0;
  }
}
